<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>D</display-name>
    <servlet-name>D</servlet-name>
    <servlet-class>h.D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/D</url-pattern>
  </servlet-mapping>
  <display-name>H</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>D_data</display-name>
    <servlet-name>D_data</servlet-name>
    <servlet-class>h.D_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D_data</servlet-name>
    <url-pattern>/D_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P_data</display-name>
    <servlet-name>P_data</servlet-name>
    <servlet-class>h.P_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_data</servlet-name>
    <url-pattern>/P_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor</display-name>
    <servlet-name>Doctor</servlet-name>
    <servlet-class>h.Doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor</servlet-name>
    <url-pattern>/Doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P</display-name>
    <servlet-name>P</servlet-name>
    <servlet-class>h.P</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P</servlet-name>
    <url-pattern>/P</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendance</display-name>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>h.Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>h.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>h.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>h.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dp</display-name>
    <servlet-name>Dp</servlet-name>
    <servlet-class>h.Dp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dp</servlet-name>
    <url-pattern>/Dp</url-pattern>
  </servlet-mapping>
</web-app>